.mainMenu
{
	color: #505050;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E0FFFFFF,endColorstr=#E0FFFFFF);
	background: rgba(255,255,255,0.95);
	position: fixed;
	overflow: auto;
	padding: 50px;
	z-index: 30;
}

.mainMenuItem
{
	width: 150px;
	height: 40px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	text-align: left;
	padding: 10px;
}

.mmi
{
	margin-bottom: 10px; margin-right: 20px;
}

  	.mainMenuWidget2x1
  	{
  		width: 180px; height: 90px; float: left; 
  		margin: 10px;
  		padding: 5px;
  		border: 1px solid #37b7e1;
  	}

  	.mainMenuWidgetBlue
  	{
  		background-color: #bce7f5;
  	}

  	.mainMenuWidgetHeader
  	{
  		background-color: #37b7e1;
  		margin: -5px;
  		margin-bottom: 5px;
  		padding: 4px;
  		padding-left: 5px;
  		padding-right: 5px;
  		color: white;
  		height: 16px;
  	}

  	.mainMenuWidgetContentBig
  	{
  		font-size: 18pt;
  		text-align: center;
  		font-weight: bold;
  		vertical-align: middle;
  		height: 65px;
  		padding-top: 5px;
  		color: #1b8cb1;
  	}
