.mainMenu
{
	position: fixed;
	overflow: auto;
	z-index: 30;
}

.clickableFunction
{
	text-decoration-style: double;
	text-decoration: underline;
	cursor: pointer;
}

.mainMenuExitPlaceholder
{
	position: fixed;
	overflow: auto;
	z-index: 40;
}

a.topMenuLink
{
	color: #aaa;
}

a.topMenuLink:hover
{
	color: #ffffff;
}

.squaredTopMenu
{
  	background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
  	background-image: linear-gradient(to right, #333333 10px, #222222 10px);
  	background-repeat: repeat-x;
  	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);

  	color: #aaa;
  	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.frontpageTopMenu
{
	position: absolute;
	padding: 10px;
	padding-left: 20px;
  	height: 30px;
  	background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
  	background-image: linear-gradient(to right, #333333 10px, #222222 10px);
  	background-repeat: repeat-x;
  	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);

  	color: #aaa;
  	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);

  	xborder-top: 1px solid rgba(0, 0, 0, 0.3);
  	xborder-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.frontpageCaption
{
	float: left;
	color: white;
	display: block;
	font-size: 20pt;
	xfont-weight: bold;
}

.frontpageBody
{
}

.popupMainMenu
{
	position: fixed;
	xtop: 40px;
	width: 300px;
	overflow: auto;
	background-color: #222222;
}

.frontpageMainMenu
{
	position: absolute;
	top: 50px;
	width: 300px;
	overflow: auto;
	background-color: #222222;
}

.frontpageDashboard
{
	position: absolute;
	top: 40px;
	left: 300px;
	margin: 20px;
}

.frontpageDashboardContents
{
}

.frontpageDasboardItems
{
	border: 1px red dashed;
	height: 300px;
}

.partContainer
{
	clear: both;
	margin-bottom: 4px;
	height: 120px;
}

.partHeader
{
	width: 124px;
	height: 124px;
	float: left;
	background-color: black;
	color: white;
	text-transform: uppercase;
	text-align: center;
	display: table;
	margin-right: 4px;
	margin-bottom: 4px;
	cursor: pointer;
}

.menuItemBoxContainer
{
	width: 60px;
	height: 60px;
	max-width: 60px;
	overflow-x: hidden;
	float: left;
	background-color: black;
	color: white;
	margin-right: 4px;
	margin-bottom: 4px;
}

.menuItemBox
{
	width: 60px;
	height: 60px;
	max-width: 60px;
	overflow-x: hidden;
	float: left;
	background-color: black;
	color: white;
	text-transform: uppercase;
	text-align: center;
	display: table;
}

.menuItemName
{
	display: table-cell;
	vertical-align: middle;
	font-size: 6pt;

}

.userMenuItem
{
	font-size: 12pt;
	margin-left: 10px;
	cursor: pointer;
}

.userMenuItem:hover
{
	color: white;
}

.squaredUserMenu
{
	float: right;
	xmargin-right: 20px;
}

.partItemsContainer
{
	height: 124px;
	xborder: 1px solid red;
	overflow-y: hidden;
	display: none;
}

.partSelected
{
	background-color: #505050;
}

//metismenu

.sidebar {
  display: block;
  float: left;
  width: 200px;
  background: #333;
}
.content {
  display: block;
  overflow: hidden;
  width: auto;
}
.sidebar-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
  background-image: linear-gradient(to right, #333333 10px, #222222 10px);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
}
.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
  outline: none;
}
.sidebar-nav ul li, .sidebar-nav ul a {
  display: block;
}
.sidebar-nav ul a {
  padding: 10px 20px;
  color: #aaa;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.sidebar-nav ul a:hover, .sidebar-nav ul a:focus, .sidebar-nav ul a:active {
  color: #fff;
  text-decoration: none;
}
.sidebar-nav ul ul a {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-nav ul ul a:hover, .sidebar-nav ul ul a:focus, .sidebar-nav ul ul a:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav-item {
  padding-left: 5px;
}
.sidebar-nav-item-icon {
  padding-right: 5px;
}
#rtlh3 small {
    transform: rotateY(180deg);
    display: inline-block;
}



.dashboardWidget
{
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	float: left;
	background-color: #eeeeee;
}

.dww1{width: 60px;}
.dwh1{height: 60px;}
.dww2{width: 120px;}
.dwh2{height: 120px;}


.mainMenuWidget
{
	border: 1px solid black;
	margin: 3px;
	float: left;
}

  	.mainMenuWidgetHeader
  	{
  		background-color: #37b7e1;
  		margin-bottom: 5px;
  		padding: 4px;
  		padding-left: 5px;
  		padding-right: 5px;
  		color: white;
  		height: 16px;
  	}

  	.mainMenuWidgetContentBig
  	{
  		font-size: 18pt;
  		text-align: center;
  		font-weight: bold;
  		vertical-align: middle;
  		height: 65px;
  		padding-top: 5px;
  		color: #1b8cb1;
  	}
